<h2 class="center">Products</h2>
<hr />
<div class="#products-list container row">
  <div class="col s12 m4">
    <button class="btn" color="black" id="show_all">Show all products</button>
    <ul id="listy">
    </ul>
  </div>
  <div class="#edit-products container col s12 m8">
    <button class ="btn" id="editor">Click to Edit</button>
  </div>
</div>