<h2 class="center">Products</h2>
<hr />
<div class="#products-list">
  <div class="col s12 m6">
    <button class="btn" id="show_all">Show all products</button>
    <ul id="listy">

    </ul>
  </div>
</div>